body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
  }

  .cart-items-container {
    margin: 20px;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }

  .cart-item {
    display: flex;
    align-items: center;
  }

  .cart-item h3 {
    margin: 0;
    margin-left: 20px;
    font-size: 20px;
    color: #333;
  }

  .cart-item p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
  }

  /* style.css */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
  }

  .modal-content h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
  }

  input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px; /* Added margin-top for better spacing */
  }

  .form-group {
    margin-bottom: 10px;
  }

  label {
    font-size: 18px;
    color: #333;
  }
  input[type="text"],
  input[type="address"],
  input[type="number"] {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
  }


.btn-primary {
    background: linear-gradient(to right, #007bff, #00bfff); /* Gradient background */
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  }

  .btn-primary:hover {
    background-color: #0056b3; /* Darker shade on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Increased shadow on hover */
  }