.main {
  padding: 20px;
  height: 100vh;
}
.layout {
  display: flex;
}

.sidebar {
  height: 98vh;
  width: 300px;
  border-radius: 5px;
  background-color: rgb(91, 83, 83);
  box-shadow: 0 0 2px gray;
  margin-right: 20px;
  padding: 10px;
}

.content {
  width: 100%;
  height: 100%;
}

.header {
  height: 10vh;
  margin-bottom: 20px;
  box-shadow: 0 0 2px gray;
  background-color: rgb(246, 239, 239);
  border-radius: 5px;

}

.body {
  height: 85vh;
  margin-bottom: 20px;
  box-shadow: 0 0 2px gray;
  background-color: white;
  background-image: url('https://i.pinimg.com/564x/e2/17/f4/e217f44951202a1d33321dcb905bc1b0.jpg');
  background-size: cover; 
  background-position: center; 
  border-radius: 5px;
 
}

.logo h6 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0px;
}

.menu {
  margin-top: 50px;
}

.menu-item {
  margin-top: 30px;
}

.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item i {
  color: white;
  font-size: 1.2rem;
  margin: 0 15px;
}

.active {
  color: white;
  background-color: rgb(233, 223, 223);
  padding: 5px;
  border-radius: 5px;
}

.active a,
.active i {
  color: rgb(51, 1, 1);
}

.header-content {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
  margin: 0 15px;
}

.header-content i {
  margin-right: 20px;
  font-size: 1.2rem;
}

.header-content a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin: 0 10px;
  text-transform: uppercase;
}
