@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,600&family=Poppins:wght@300&family=Raleway:ital@1&family=Work+Sans:ital,wght@0,900;1,100;1,200;1,800&display=swap');

:root{
    --red:#ff3838;
}


*{
    font-family: 'Nunito', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;

}

*::selection{
    background: var(--red);
    color: #fff; 
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    
} 


body{
    background:#f7f7f7;
}


section{
    padding: 2.5rem 9%;
}

.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 2rem;
    color: #f8f6f6;
}

.heading span{
    color: var(--red);
}

.btn{
    display: inline-block;
    padding: .8rem 3rem;
    cursor: pointer;
    font-size: 1.2rem;
    border: .2rem solid var(--red);
    border-radius: .5rem;
   // position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.btn::before{
    content:'';
    position: absolute;
    top: 0; right: 0;
    width: 100%;
    height: 100%;
    background:#fff;
    transition: 3s linear;
    z-index: -1;

}
.btn:hover::before{
    width: 100%;
    left: 0;
    color: #fff;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0.5rem 1rem rgba(0,0,0, .1);

}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;
}

header .logo i{
    padding-right: .5rem;
    color: rgb(104, 39, 39)
}

header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}
header .navbar a:hover{
    color: red;
}

#menu-bars{
    font-size: 3rem;
    cursor: pointer;
    color: #333;
    border-radius: .4rem;
    border: .2rem solid #333;
    padding: .5rem 1.5rem;
    display: none;
}

.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    opacity: 10;
    align-items: center;
    background: url("https://img.freepik.com/free-vector/hand-drawn-pet-shop-pattern-background_23-2150842425.jpg?w=1060&t=st=1715033720~exp=1715034320~hmac=ed634dc7aa1299a30d884b09531b8ec04d7960850a29a9ef29e0e057817fd19f") no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
   flex:1 1 40rem;
   padding-top: 6.5rem ;
}
.home .image{
    flex:1 1 40rem;
   
}

.home .image img{
    width: 100%;
    padding: 1rem;
    animation:float 3s linear infinite;  
}

@keyframes float{
    0%, 100%{
       transform: translateY(0rem);
    }
    50%{
       transform: translateY(3rem);
    }
}


.home .content h3{
    font-size: 5rem;
    color: #ca0000;

}

.home .content p{
    font-size: 1.5rem;
    color: rgb(97, 0, 0);

}

/* media queries */


@media(max-width:991px) {
    html{
        font-size: 55%;
  }
  header{
      padding: 2rem;
  }
}

@media(max-width:768px){
    #menu-bars{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;left: 0; right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0,0,0, .1);
        clip-path:polygon(0 0, 100% 0, 0 0);  
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
     margin: 1.5rem;
     padding: 1.5rem;
     display: block;
     border: .2rem solid rgba(0,0,0, .1);
     border-left: .5rem solid var(--red);
     background: #fff;
    }
}



@media(max-width:400px){
 html{
        font-size: 50%;
}
  header{
      padding: 2rem;
  }
}


.speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.speciality .box-container .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.1);
    border: .1rem solid rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: 1rem;
}
.speciality .box-container .box .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position:absolute;
    top: -100%; left: 0;
}
.speciality .box-container .box .content{
    text-align: center;
    background: #fff;
    padding: 2rem;
}
.speciality .box-container .box .content h3{
    font-size: 2.5rem;
    color: #666;

}
.speciality .box-container .box .content p{
    font-size: 1.2rem;
    color: #666;
    padding: 1rem 0;
}
.speciality .box-container .box:hover .image{
    top: 0;
}
.speciality .box-container .box:hover .content{
    transform: translateY(100%);
}

.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.popular .box-container .box{
    padding: 2rem;
    background: #fff;
    box-shadow: 0.5rem .1rem rgba(0, 0, 0,.1);
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: 1rem;
    text-align: center;
    flex: 1 1 30rem;
    position: relative;
}

.popular .box-container .box img{
    height:25rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
}

.popular .box-container .box .price{
     position: absolute;
     top: 3rem; left: 3rem;
     background: var(--red);
     color: #fff;
     font-size: 2rem;
     padding: .5rem 1rem;
     border-radius: .5rem;
}

.popular .box-container .box h3{
    font-size: 2.5rem;
    color: #333;
    padding-top: 1rem;

}
.popular .box-container .box .stars i{
    color: gold;

}

.gallery .box-container{
    display:flex;
    flex-wrap: wrap;
    gap: 2rem;
   

}

.gallery .box-container .box{
    height: 25rem;
    flex:1 1 30rem;
    border: 1rem solid #fff;
    box-shadow:0 .5rem 1rem rgba(0, 0, 0,.1) ;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content{
    position: absolute;
    top: -100%; left: 0;
    height: 100%;
    width: 100%;
    background: rgba(225, 225, 225, .9);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}
.gallery .box-container .box .content h3{
     font-size: 2.5rem;
     color: #333;
}
.gallery .box-container .box .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;

}
.gallery .box-container .box:hover .content{
    top: 0;
}
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.review .box-container .box{
    text-align: center;
    padding: 2rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: .5rem;
    flex: 1 1 30rem;
    background: #333;
    margin-top: 6rem;
}
.review .box-container .box img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}
.review .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}
.review .box-container .box .stars i{
    font-size: 2rem;
    color: var(--red);
    padding: .5rem 0;
}
.review .box-container .box p{
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
}

.order .row{
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;

}

.order .row .image{
    flex: 1 1 30rem;

}

.order .row .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;

}

.order .row form{
     flex: 1 1 30rem;
     padding: 1rem;
}

.order .row form .inputbox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order .row form .inputbox input, .order .row form textarea{
     padding: 1rem;
     margin: 1rem 0;
     font-size: 1.7rem;
     color: #333;
     text-transform: none;
     border: .1rem solid rgba(0, 0, 0, .3);
     border-radius: .5rem;
     width: 49%;
}

.order .row form textarea{
    width: 100%;
    resize: none;
    height: 15rem;
}
.order .row form .btn{
    background: none;

}
.order .row form .btn:hover{
    background: var(--red);
}