.event-grid-container {
    display: flex;
    justify-content: center; // Horizontally center the grid
    align-items: center; // Vertically center the grid
    height: 100vh; // Take full viewport height
    padding: 20px; // Optional: Padding to prevent content touching edges
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); // Reduced min size from 250px to 200px
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.event-card {
    padding: 1.5rem; // Reduced padding from 2rem to 1.5rem
    background-color: #e5d8ee;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 17px;
}

.event-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.event-card h4 {
    color: #2f6de1;
    margin-bottom: 1rem;
}

.event-card p {
    margin-bottom: 1rem;
    color: #444;
    line-height: 1.6;
}